.cast .carousel .img {
  max-width: 150px;
  border-radius: 5px;
}
.cast {
  display: flex;
  padding: 5px;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 100%;
  scroll-behavior: smooth;
  margin-bottom: 10px;
}
.cast::-webkit-scrollbar {
  display: none;
}

.carousel {
  margin: 2px 9px;
  /* box-shadow: 2px 2px 3px 3px black; */
  /* border: 2px solid green; */
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  border: radius 10px;
}
.carousel p {
  text-align: center;
  color: black;
}
